{% extends "base.html" %}
{% set active_page = "about" %}
{% block title %}Database - about{% endblock title %}

{% block headcontent %}
<h1 class="mt-5">Why I made this?</h1>
<p class="lead">Because while reading this book, sometimes I could not clearly know what the result would be by the query command.<br>
So I decided to make this to help me better understand, hope it could help you too!</p>
<p>If you found something wrong or have advise, please contact me by email.</p>

{% endblock headcontent %}