{% extends "base.html" %}
{% set active_page = "home" %}

{% block headcontent %}
  <h1 class="mt-5">A database Hands-on lab</h1>
  <p class="lead">You can try the SQL queries command on the book!</p>
{% endblock headcontent %}

{% block tablecontent %}
<h3 class="mt-1">Employee table preview</h3>
<!-- Data Table Preview -->
<table class="table table-striped">
  <caption>EMPLOYEE</caption>
  <thead>
    <tr>
      <th>Fname</th>
      <th>Minit</th>
      <th>Lname</th>
      <th>Ssn</th>
      <th>Bdate</th>
      <th>Address</th>
      <th>Sex</th>
      <th>Salary</th>
      <th>Super_ssn</th>
      <th>Dno</th>
    </tr>
  </thead>
  <tbody>
    {% for employee in employees %}
      <tr>
        <th>{{ employee.Fname }}</th>
        <th>{{ employee.Minit }}</th>
        <th>{{ employee.Lname }}</th>
        <th>{{ employee.Ssn }}</th>
        <th>{{ employee.Bdate }}</th>
        <th>{{ employee.Address }}</th>
        <th>{{ employee.Sex }}</th>
        <th>{{ employee.Salary }}</th>
        <th>{{ employee.Super_ssn }}</th>
        <th>{{ employee.Dno }}</th>
      </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock tablecontent %}